.instagram{
    .row{
        div:last-child{
            img{
                margin-bottom: 48px;
            }
        }
    }
    .baseform{
        max-width: 400px;
        margin: 0 auto;
    }
}