.tabs {
  margin-top: 48px;
}

section {
    display: none;
    color: $base-grey;
}

.tabs input {
  display: none;
}

.tabs label {
    display: inline-block;
    text-align: left;
    color: $base-grey;
    margin-right: 22px;
}

.tabs label:hover {
  color: #888;
  cursor: pointer;
}

.tabs input:checked + label {
  color: $base-black;
}

#tab1:checked ~ #details,
#tab2:checked ~ #delivery,
#tab3:checked ~ #returns {
  display: block;
}