        <footer>
            <div class="container">
                <div class="row">
                    <div class="cols col-3">
                        <div class="title">Questions?</div>
                        <ul>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Track Order</a></li>
                            <li><a href="#">Returns</a></li>
                        </ul>
                    </div>
                    <div class="cols col-3">
                        <div class="title">What's in store</div>
                        <ul>
                            <li><a href="#">Women</a></li>
                            <li><a href="#">Men</a></li>
                            <li><a href="#">Brands (A-z)</a></li>
                        </ul>
                    </div>
                    <div class="cols col-3">
                        <div class="title">More about justice</div>
                        <ul>
                            <li><a href="#">Corporate Responsibility</a></li>
                            <li><a href="#">Jobs at Justice</a></li>
                            <li><a href="#">Investors</a></li>
                            <li><a href="#">Affiliates</a></li>
                            <li><a href="#">As Seen On Screen</a></li>
                        </ul>
                    </div>
                    <div class="cols col-3">
                        <div class="title">Follow us:</div>
                        <div class="social">
                            <a href="#" class="fb"></a>
                            <a href="#" class="tw"></a>
                            <a href="#" class="gp"></a>
                            <a href="#" class="pin"></a>
                            <a href="#" class="inst"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a class="top-arrow">Up!</a>