        <div class="line main-banner">
            <div>
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="./img/main_banner_extralarge.jpg" media="(min-width: 1200px)">
                    <source srcset="./img/main_banner_large.jpg" media="(min-width: 768px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="./img/main_banner.jpg" alt="Main banner">
                </picture>
                <div class="info">
                    <div class="name">adidas yeezy boost 350</div>
                    <div class="line"></div>
                    <a href="#" class="shop">shop now</a>
                </div>
            </div>
        </div>